{% extends 'fly_app/base.html' %}
{% load static %}

{% block content %}
<h2>Booking page</h2>
    {% if bd %}
        <small class="book_valid">Your booking is valid</small>
        <table class="table mt-3">
            <h3 class="mt-3">Booking information</h3>
            <tbody>
            <tr>
                <td>{{ bd.airline }}</td>
                <td>{{ bd.dep_time }}</td>
                <td>{{ bd.duration }}</td>
                <td>{{ bd.arr_time }}</td>
                <td>{{ bd.total }} EUR</td>
                {% if bd.price_change %}
                    <td>Price has changed</td>
                {% endif %}
            </tr>
            </tbody>
        </table>
    {% else %}
        <h3 class="book_invalid">Your booking is invalid.</h3>
    {% endif %}

{% endblock %}