{% extends 'fly_app/base.html' %}
{% load static %}

{% block content %}
<h2>Index page</h2>
    <h3>Choose a direction and passengers:</h3>

    <form class="top_form" action="" method="post">
     {% csrf_token %}
        <div class="form-group">
            <label for="exampleFormControlSelect1">Example select</label>
            <select class="form-control" id="exampleFormControlSelect1" name="direction">
                {% for direction in directions %}
                    <option>{{ direction }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="adults_count">Adults count</label>
            <input type="number" class="form-control" id="adults_count" placeholder="Enter adults count" name="adults_count" value="0">
        </div>
        <div class="form-group">
            <label for="children_count">Children count</label>
            <input type="number" class="form-control" id="children_count" placeholder="Enter children count" name="children_count" value="0">
        </div>
        <div class="form-group">
            <label for="infants_count">Infants count</label>
            <input type="number" class="form-control" id="infants_count" placeholder="Enter infants count" name="infants_count" value="0">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    {% if found_ticket %}
        <div class="card" style="width: 25rem; margin: 50px 0">
            <div class="card-header">
                Found ticket:
            </div>
            <div class="card-body">
                <h5 class="card-title">Direction: {{ found_ticket.cityFrom }} - {{ found_ticket.cityTo }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">Duration: {{ found_ticket.fly_duration }}</h6>
                <p class="card-text">Price: {{ found_ticket.price }}tg</p>
                <p class="card-text">Time: {{ found_ticket.time }}</p>
                <p class="card-text">Booking: {{ answer }}</p>
            </div>
        </div>
    {% endif %}



    <hr>
    <h3>Directions: 10 directions with minimal price (adult=1)</h3>
    <table class="table" style="margin-top: 50px">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Direction</th>
            <th scope="col">Price</th>
        </tr>
        </thead>
        <tbody>
        {% for direction in directions_table %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ direction.direction }}</td>
                <td>{{ direction.price }}tg</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}